.ceiling{
  color: white;
  border-radius: 0;
  margin-bottom: 0;
  .main{
    width: 1200px;
    margin: 0 auto;
  }
  .user-info{
    line-height: 55px;
  }
  ul{
    float: right;
    li{
      list-style-type: none;
    }
  }
}
