<div class="sidebar">
  <ul>
    <li class="{{#equalsPath "/seller/index"}}active{{/equalsPath}}"><a href="/seller/index">商家资料</a></li>
    <li class="{{#equalsPath "/seller/coupons"}}active{{/equalsPath}}"><a href="/seller/coupons">优惠券管理</a></li>
  </ul>
</div>
