<div class="sidebar">
  <ul>
    <li class="{{#equalsPath "/user/index"}}active{{/equalsPath}}"><a href="/user/index">用户资料</a></li>
    <li class="{{#equalsPath "/user/settle"}}active{{/equalsPath}}"><a href="/user/settle">申请商家</a></li>
    <li class="{{#equalsPath "/user/orders"}}active{{/equalsPath}}"><a href="/user/orders">订单列表</a></li>
    <li class="{{#equalsPath "/user/password"}}active{{/equalsPath}}"><a href="/user/password">修改密码</a></li>
  </ul>
</div>
