<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <!-- Powered by Terminus.io -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>余人自娱-首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/vendor.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
  </head>
  <body>
    <div class="ceiling-outer"></div>
    <!--[if lt IE 7]>
        <p class="browsehappy">您正使用<strong>过时</strong>的浏览器，因此您可能体验不到最好的效果,请点击<a href="http://browsehappy.com/">这里</a> 去升级您的浏览器</p>
    <![endif]-->
    <!--[if lt IE 8]><script src="http://cdn.staticfile.org/json2/20121008/json2.js"></script><![endif]-->
    <script src="/assets/scripts/vendor.js"></script>
    <script src="/assets/scripts/app.js"></script>
    <script>require("app")()</script>
    <script>require("index")()</script>
  </body>
  <!-- Powered by zhang -->
</html>
