<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <!-- Powered by Terminus.io -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>余人自娱-首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/vendor.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
  </head>
  <body>
    <div class="ceiling-outer"></div>
    <div class="main-container">
      <div class="coupons">
        <div class="coupon">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8-15010Z94R4620-lp.jpg" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8-15010Z94R4620-lp.jpg" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8-15010Z94R4620-lp.jpg" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon last">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8-15010Z94R4620-lp.jpg" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8_010Z93953Q54.png" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8_010Z93953Q54.png" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8_010Z93953Q54.png" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
        <div class="coupon last">
          <div class="coupon-image">
            <img src="http://www.uishe.cn/uploads/allimg/150109/8_010Z93953Q54.png" width="285" alt="" />
          </div>
          <div class="coupon-info">
            <ul>
              <li>我的优惠券123</li>
              <li>发布于 2015-01-11 12:00:00</li>
              <li class="last">管理员 小花</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--[if lt IE 7]>
        <p class="browsehappy">您正使用<strong>过时</strong>的浏览器，因此您可能体验不到最好的效果,请点击<a href="http://browsehappy.com/">这里</a> 去升级您的浏览器</p>
    <![endif]-->
    <!--[if lt IE 8]><script src="http://cdn.staticfile.org/json2/20121008/json2.js"></script><![endif]-->
    <script src="/assets/scripts/vendor.js"></script>
    <script src="/assets/scripts/app.js"></script>
    <script>require("app")()</script>
    <script>require("index")()</script>
  </body>
  <!-- Powered by zhang -->
</html>
