{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "body"}}
  {{inject "common/ceiling"}}
  <div class="main-container">
    {{{block "realBody"}}}
  </div>
  <div style="clear:both;"></div>
  <div class="footer fake-footer">
    <div class="session">
      <i class="icon-footer"></i>
    </div><br>
    <div class="copyright" style="margin-top: 5px;">
      <span>Copyright  ©  2012-2014  余人自娱系列  版权所有</span>
    </div>
  </div>
{{/partial}}
{{> layout}}
